* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html {
    font-size: '62.5%';
}


.home {
    min-width: 70rem;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
}

nav {
    width: 100%;
    /* Full width */
    height: 4rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    /* Slightly transparent for better visibility */
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Ensures the navbar stays on top */
}


nav .logo {
    display: flex;
    font-size: 2rem;
    color: white;
    position: relative;
    left: 2rem;


}

nav .logo i {
    font-size: 2rem;
    color: white;
    margin-right: 2rem;
    transform: rotate(330deg);
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;



}


input {
    min-width: 25rem;
    padding: 0.9rem 0.5rem;
    position: absolute;
    border-radius: 5rem;
    right: 1rem;
    bottom: 0.5rem;

}

input::placeholder {
    color: rgb(136, 211, 232);
}

.search i {
    position: absolute;
    right: 11.5rem;
    color: rgb(136, 211, 232);
    top: 1.55rem;


}

.search button {
    padding: 0.5rem 0.8rem;
    position: absolute;
    background-color: rgb(1, 200, 255);
    color: white;
    border-radius: 0.3rem;
    top: 1.1rem;
    cursor: pointer;

}

.srchBtn {
    right: 6.5rem;

}

.srchBtn1 {
    right: 2.5rem;
}

.home {

    display: flex;
    flex-direction: row;
    background-color: rgb(136, 211, 232, 0.6);
    background-blend-mode: multiply;
    background-size: cover;



}

.right {
    display: flex;
    flex-direction: column;
    left: 3rem;
    font-size: 1.5rem;
    color: white;
    position: relative;
}

.right i {
    position: relative;
    top: 5rem;
    margin-top: 1rem;
}

.right .vertical {
    position: relative;
    top: 5rem;
    border-left: 0.2rem solid white;
    height: 10rem;
    left: 0.9rem;
}

.center {
    display: inline-block;
    position: relative;
    left: 12rem;
    top: 3rem;
    padding-top: 3rem;

}

.center h1 {

    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;



}

.center p {
    margin-block: 2rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0, 0.3);
    line-height: 20px;
    border-radius: 0.3rem;
}

.center button {

    padding: 0.6rem;
    background-color: rgb(1, 200, 255);
    color: white;
    border-radius: 0.3rem;
    font-weight: 600;
}

.about-container {
    min-width: 70rem;
    height: 100vh;
    background-color: rgb(136, 211, 232, 0.6);
}

.about {

    min-width: 70rem;
    height: 100vh;
    position: relative;
    background-image: url('images/background.jpg');
    background-size: cover;
    padding-top: 3rem;

}

.aboutTop {

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 14rem;
}

.aboutTop h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;

}

.aboutTop p {
    top: 2rem;
    position: relative;
    color: white;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0, 0.3);
    line-height: 20px;
    border-radius: 0.5rem;


}

.aboutBottom {
    display: flex;
    position: absolute;
    top: 25rem;
    left: 14rem;

}

.aboutBottom h1 {
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    top: -5rem;
}

.members {
    position: relative;
    left: 16rem;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-inline: 1rem;

}

.member {
    display: flex;
    flex-direction: row;

}

.member .icon {
    color: rgb(1, 200, 255);

}

.member button {
    background-color: rgb(1, 200, 255);
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;

    color: white;

}

.member .details h4,
p {
    position: relative;
    text-align: left;
    color: white;
}

.member .details p {
    color: rgb(217, 211, 211);
}

.contact {
    min-width: 70rem;
    height: 100vh;
    position: relative;
    background-image: url('images/background.jpg');
    background-size: cover;
    padding-top: 3rem;
}

.contact-container {
    display: block;

    min-width: 70rem;
    height: 100vh;
    background-color: rgb(136, 211, 232, 0.6);
}

.contact-details h1 {
    position: relative;
    left: 17rem;
    top: -100px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
}

.form {
    position: absolute;
    right: 5rem;
    top: 3rem;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 0.2rem;
    padding: 2rem;
    color: white;
    margin-block: 0.5rem;
}

.form input {
    position: relative;
    top: -2rem;
    border-radius: 0.2rem;
    background: transparent;
    border: 0.1rem solid white;
}

.form textarea {
    position: relative;
    top: -2rem;
    right: 1rem;
    border-radius: 0.2rem;
    background: transparent;
    border: 0.1rem solid white;
}

.form button {
    position: relative;
    right: 1rem;
    background-color: rgb(1, 200, 255);
    padding: 0.8rem 12rem;
    border-radius: 0.5rem;
    color: white;
}

.countries {
    position: absolute;
    right: 2rem;
}


.result-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.result-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5px;
}

.result-card p {
    color: rgb(102, 101, 101);
    margin-bottom: 15px;
    font-size: 13px;

}

@media screen and (max-width: 600px) {
    .search-container {
        float: left;
        width: 100%;
    }


}